Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
Flask-Limiter
python-dotenv
redis
requests
numpy    
pandas       
scikit-learn
xgboost
joblib
tensorflow 
Werkzeug
gunicorn
psycopg2-binary
PyMySQL
